.codex-editor__redactor {
  padding-bottom: 0 !important;
}
#editorjs {
  font-size: 1.1rem;
  padding: 0 5px;
}
.save-btn {
  font-size: 16px;
  font-weight: 600;
  padding: 3px 8px;
  border-radius: 3px;
  border: 1px solid black;
}
.back-btn {
  font-size: 16px;
  font-weight: 600;
  padding: 3px 8px;
  border-radius: 3px;
  border: 1px solid black;
}
.btn-link{
  cursor: pointer;
}
.video-info{
  font-size: 1.5rem;
}
.btn-container{
  display: flex;
  justify-content: space-between;
}