/* #gradient-canvas {
    width:140%;
    height:50%;
    --gradient-color-1: #ef008f; 
    --gradient-color-2: #6ec3f4; 
    --gradient-color-3: #7038ff;  
    --gradient-color-4: #ffba27;
     transform: skewY(-12deg);;
    position: absolute;
      top:-100px;
    left:-80px;
    z-index:2;
  }
   */
body{
    overflow-x: hidden;
}
/* 

.ocean { 
    height: 1px;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    background: #015871;
    transform: rotate(180deg);
    z-index: -1;
  }
  
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 100%;
    height: 250px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
    z-index: -1;
  }
  
  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }
  
 h1{
    z-index: 10;
    position: absolute;
    top:40px;
    left:40px
  } */
 
  .ocean {
    width: 130%;
    height: 60%;
    position: absolute;
    top: -150px;
    left: -85px;
    background: linear-gradient(45deg,#F17C58, #ff7eb0, #2cc7ff , #27DBB1,#FFDC18, #ff5f37);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
    z-index: -1;
    transform: rotate(-14deg)
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}