:root {
  --background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  --primary-color: #0091ad;
  --primary-color-md-light:#c9f2fa;
  --primary-color-light: #e5fbff;
  --main-font: "Montserrat", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}

/* New hero section  */
.my-hero {
  display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
}

/* hero info  */
.hero-info {
  width: 62%;
}

.hero-heading {
  color: var(--primary-color);
  font-size: 50px;
  font-weight: 700;
  margin-left: 10rem;
  margin-top: 0rem;
  padding: 0px 0px;
}


h1.short-intro {
  font-size: 47px;
  font-weight: 700;
  max-width: 53%;
  line-height: 62px;
}

p.intro-text {
  color: var(--primary-color);
  font-size: 33px;
  max-width: 68%;
  line-height: 41px;
  font-weight: 600;
  margin: 2rem 0;
  letter-spacing: -1px;
}
.hero-heading {
  color: var(--primary-color);
  font-size: 48px;
  font-weight: 700;
  cursor: pointer;
}

.action-btns {
  font-size: 24px;
  margin: 1rem 0;
}

a.get-started {
  background-color: var(--primary-color);
  color: white;
  padding: 7px 25px;
  border-radius: 13px;
  margin-right: 1.5rem;
}
a.get-noted {
  background-color: white;
  color: var(--primary-color);
  padding: 7px 25px;
  border-radius: 13px;
  border: 2px solid;
}
a.get-noted:hover{
  background-color: var(--primary-color-md-light);
  transition: 0.3s;
}
/* images  */
.hero-image {
  position: relative;
  bottom: 3rem;
}

img.yt-head {
  position: relative;
  top: 4em;
  right: 4em;
}







.loginbtn {
  position: absolute;
  padding: 1.5rem;
  background-color: rgba(233, 138, 101, 0.8);
  width: fit-content;
  border-radius: 20px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  left: 40%;
}
.bg-primary-light {
  background-color: var(--primary-color-light);
}

.sub-info-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%;
  margin: 3rem auto;
  padding: 1rem 0rem;
}

.info {
  font-family: var(--main-font);
  max-width: 30%;
  font-size: 18px;
  color: var(--primary-color);
  font-size: 20px;
  line-height: 27px;
}

.image {
  width: 205px;
}

h2.image-title {
  font-size: 29px;
  color: var(--primary-color);
  font-weight: 800;
  padding: 15px 0rem;
}

.footer {
  background-color: var(--primary-color);
  color: white;
  font-family: "Montserrat", sans-serif;
}

.dark-text {
  color: var(--primary-color);
}

.experience {
}

/* media queries for smaller screens  */
@media screen and (max-width: 820px) {
  .info {
    max-width: 40%;
  }
  .experience {
    /* max-width: 40%; */
  }
}

@media screen and (max-width: 620px) {
  .sub-info-sec {
    flex-direction: column;
    margin: 1rem auto;
  }
  .sub-info-sec-reverse {
    flex-direction: column-reverse;
  }
  .download-sec {
    padding-top: 2rem !important;
    padding-bottom: 0rem !important;
  }
  .info {
    max-width: 60%;
    text-align: center;
  }
  .gradient {
    display: none;
  }
  .hero-text-sec {
    position: static;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #0091ad;
    max-width: 70%;
    line-height: 36px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    height: 12rem;
  }
  .download-sec {
    padding: 0 !important;
  }
}
